<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CDRP | Support us with ETH!</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="container">
            <div class="popup">
                <img src="tick.png">
                <h2>Support us with ETH!</h2>
                <p>0x2D947fA986EeDEa59c5D960506A5Eb5Cb0E00312</p>
                <button type="button" class="confirm" onclick="window.location.href='https://yukikaze924.github.io'">Confirm</button>
            </div>
        </div>
        <footer>
    <p>
      {% if site.github_username %}
        <a href="https://github.com/{{ site.github_username }}" title="Github">
          <svg><use xlink:href="#icon-github"></use></svg>
        </a>
      {% endif %}
      {% if site.facebook_username %}
        <a href="https://www.facebook.com/{{ site.facebook_username }}" title="Facebook">
          <svg><use xlink:href="#icon-facebook"></use></svg>
        </a>
      {% endif %}
      {% if site.twitter_username %}
        <a href="https://twitter.com/{{ site.twitter_username }}" title="Twitter">
          <svg><use xlink:href="#icon-twitter"></use></svg>
        </a>
      {% endif %}
      {% if site.medium_username %}
        <a href="https://medium.com/@{{ site.medium_username }}" title="Medium">
          <svg><use xlink:href="#icon-medium"></use></svg>
        </a>
      {% endif %}
      {% if site.instagram_username %}
        <a href="https://www.instagram.com/{{ site.instagram_username }}" title="Instagram">
          <svg><use xlink:href="#icon-instagram"></use></svg>
        </a>
      {% endif %}
      
      {% if site.linkedin_username %}
        <a href="https://t.me/CatandDogRightsProtection" title="Join us on Telegram">
          <svg><use xlink:href="#icon-linkedin"></use></svg>
        </a>
      {% endif %}
        
    </p>

    {% include links.html %}

    <p>
      <span>CDRP</span> was created with <svg class="love"><use xlink:href="#icon-heart"></use></svg> by <a href="https://rossener.com" target="_blank" class="creator">Yukikaze</a>
    </p>
        </footer>
    </body>
</html>
